
:root {
    --font: 'Open Sans', sans-serif;
    --font-icon: 'Work Sans', sans-serif;
    --color-black: #000;
    --color-gray: #cdd0d6;
    --color-white: #fff;
    --color-white03: rgba(255, 255, 255, 0.3);
    --color-white05: rgba(255, 255, 255, 0.5);

    --color-main-dark: #081336;
    --color-secondary-dark: #17202e;
    --color-additional-dark: #464d66;

    --color-underline: #d9d9d9;
    --color-main-accent: #9caff6;
    --color-secondary-accent: #0416d2;
    
    --color-hover: #3973cf;
  
    --container-width: 11.1rem;
    --container-width-small: 8rem;
    --header-height: .76rem;
    --wh-logo-icon: .6rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 6.94444vw;
    -webkit-text-size-adjust: none;
}

body {
    font-family: var(--font);
    background-color: var(--color-main-dark);
}