:root {
    --font: 'Open Sans', sans-serif;
    --font-icon: 'Work Sans', sans-serif;
    --color-black: #000;
    --color-gray: #cdd0d6;
    --color-white: #fff;
    --color-white03: rgba(255, 255, 255, 0.3);
    --color-white05: rgba(255, 255, 255, 0.5);

    --color-main-dark: #081336;
    --color-secondary-dark: #17202e;
    --color-additional-dark: #464d66;

    --color-underline: #d9d9d9;
    --color-main-accent: #9caff6;
    --color-secondary-accent: #0416d2;

    --color-hover: #3973cf;
    --color-link: #6ae4ff;

    --color-circle: rgba(255, 255, 255, 0.08);

    --color-product-card-bg: linear-gradient(to top, #3643b9 -35.85%, #041079 112.68%);


    --container-width: 11.1rem;
    --container-width-small: 8rem;
    --header-height: .76rem;
    --wh-logo-icon: .6rem;

    --width-container: 11.1rem;

    --padding-section: 1rem;

    --font-size-heading-1: .72rem;
    --font-size-heading-2: .36rem;
    --font-size-heading-3: .28rem;
    --font-size-heading-4: .2rem;

    --font-size-decs-1: .24rem;
    --font-size-decs-2: .14rem;
    --font-size-decs-3: .12rem;
    --font-size-decs-4: .12rem;

    --font-size-textindex-1: .54rem;

    --font-weight-heading-1: 600;
    --font-weight-heading-2: 700;
    --font-weight-heading-3: 700;
    --font-weight-heading-4: 600;

    --font-weight-decs-1: 400;
    --font-weight-decs-2: 400;
    --font-weight-decs-3: 500;
    --font-weight-decs-4: 400;

    --font-weight-textindex-1: 700;

    --letter-spacing-heading-1: -.02rem;
    --letter-spacing-heading-2: -1%;
    --letter-spacing-heading-3: normal;
    --letter-spacing-heading-4: normal;

    --letter-spacing-decs-1: normal;
    --letter-spacing-decs-2: -1%;
    --letter-spacing-decs-3: normal;
    --letter-spacing-decs-4: normal;

    --letter-spacing-textindex-1: -1%;

    --line-height-heading-1: .8rem;
    --line-height-heading-2: .48rem;
    --line-height-heading-3: .44rem;
    --line-height-heading-4: .32rem;

    --line-height-decs-1: .4rem;
    --line-height-decs-2: .27rem;
    --line-height-decs-3: .26rem;
    --line-height-decs-3: .14rem;

    --line-height-textindex-1: .56rem;

    --transition: all .3s cubic-bezier(.66, 0, .34, 1);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 6.94444vw;
    -webkit-text-size-adjust: none;
    width: 100%;

}

body {
    font-family: var(--font);
    background-color: var(--color-main-dark);
    position: relative;
    width: 100vw;

    &::-webkit-scrollbar {
        display: none;
    }
}

main {
    padding-top: 10px;
    position: relative;
    z-index: 0;
}

section {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

footer {
    padding-top: var(--padding-section);
}

.container {
    max-width: var(--width-container);
    margin: 0 auto;
}

.a_link {
    color: var(--color-link);
    text-decoration: none;
}