.footer_section {
    position: relative;
    z-index: 1;


    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: calc(100% - var(--padding-section));
        background-color: rgba(45, 49, 66, 0.3);
        z-index: -1;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    padding: 1rem 0 .5rem;

    a:not(a[class=a_link]) {
        opacity: .5;
        transition: var(--transition);

        &:hover {
            opacity: 1;
        }
    }

    &_top {
        display: flex;

        &_content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-basis: 33%;
            margin-right: 0.8rem;

            &-form {
                display: flex;
                align-items: stretch;
                margin: .3rem 0 .1rem;

                &-email {
                    font-family: inherit;
                    font-size: var(--footer-fontsize-input);
                    font-weight: 600;

                    width: 1.9rem;
                    padding-left: .2rem;
                    border-radius: 0.04rem;
                    border: 1px solid rgba(255, 255, 255, 0.06);
                    outline: none;
                    color: var(--color-white);
                    background: rgba(70, 77, 102, .15);
                    flex: 1;
                    padding-top: var(--footer-pading-top-bottom);
                    padding-bottom: var(--footer-pading-top-bottom);
                }

            }

            &-text {
                font-size: var(--footer-topcontent-text);
                line-height: .28rem;
                color: var(--color-white);
                font-weight: 600;
                letter-spacing: normal;
                opacity: .6;

                a {
                    opacity: .7;
                    text-decoration: none;
                    color: var(--color-link);
                }
            }
        }

        &-list {
            list-style: none;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: .16rem;

            &-heading {
                margin-bottom: .14rem;
                color: var(--color-white);
                font-size: var(--footer-toplist-heading);
                font-weight: 700;
                letter-spacing: -1%;
                line-height: .3rem;
            }

            &-item {
                display: flex;

                a {
                    display: inline-block;
                    color: var(--color-white);
                    font-size: var(--footer-toplist-item-a);
                    font-weight: 600;
                    letter-spacing: -1%;
                    line-height: .24rem;

                    outline: none;
                    text-decoration: none;
                }
            }
        }
    }

    &_bottom {

        &-list {
            list-style: none;
            display: flex;
            align-items: center;
            gap: .5rem;
            font-size: var(--footer-bottom-list);

            &-copy {
                color: var(--color-white);
                font-weight: 700;
                letter-spacing: -1%;
                line-height: .32rem;
            }

            &-item {

                a {
                    display: inline-block;
                    color: var(--color-white);
                    font-weight: 600;
                    letter-spacing: -1%;
                    line-height: .24rem;
                    opacity: .5;

                    outline: none;
                    text-decoration: none;
                }
            }
        }
    }
}