.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 0.17rem 0.52rem;
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: all .2s;

    &.sticky {
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        background: rgba(4,15,55,.5);
    }

    &_logo {
        width: 1.5rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-text {
            color: var(--color-white);
            font-size: 0.3rem;
            font-family: var(--font-icon);
            transform: translateX(-0.1rem);

        }

        &_box {
            display: flex;
            justify-content: center;
            align-items: center;
            height: var(--wh-logo-icon);
            width: var(--wh-logo-icon);

            &-icon {
                width: 100%;
                height: 100%;
            }
        }


    }

    &_nav {

        &-list {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 0.3rem;

            &-item {
                display: flex;

                &-text {
                    text-decoration: none;
                    opacity: .6;
                    transition: all .3s cubic-bezier(.66,0,.34,1);

                    &:hover {
                        opacity: 1;
                    }
                }

            }
        }
    }

    &_button {
        width: 1.5rem;
        display: flex;
        justify-content: flex-end;
    }
}