.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: var(--padding-header);
    position: absolute;
    z-index: 10;
    width: 100%;
    transition: transform .3s;

    &.sticky {
    position: fixed;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        background: rgba(4, 15, 55, .5);
        animation: .3s slide-down;
    }

    &_nav {

        &-list {
            display: flex;
            align-items: center;
            list-style: none;
            gap: 0.3rem;

            &-item {
                display: flex;

                &-text {
                    text-decoration: none;
                    opacity: .7;
                    transition: var(--transition);

                    color: var(--color-white);
                    font-size: var(--font-size-nav);
                    font-weight: var(--font-weight-nav);

                    &:hover {
                        opacity: 1;
                    }
                }

            }
        }
    }

    &_button {
        width: 1.5rem;
        display: flex;
        justify-content: flex-end;
    }
}