.tooltip {
    position: relative;
    width: 0.14rem;
    height: 0.14rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover &-text {
        visibility: visible;
        opacity: 1;
    }

    &-icon {
        width: 100%;
        height: 100%;
    }

    &-text {
        position: absolute;
        bottom: 150%;
        width: 2.5rem;
        background-color: var(--color-white);
        padding: 0.1rem;
        border-radius: 0.08rem;
        transform: translateX(0.2rem);
        opacity: 0;
        visibility: hidden;
        transition: all .3s;

        p {
            color: var(--color-black);
            font-size: .12rem;
            font-weight: 400;
            letter-spacing: normal;
            line-height: .22rem;
        }

        &::after {
            content: "";
            width: 0.08rem;
            height: 0.08rem;
            border-top: 0.08rem solid #fff;
            border-bottom: 0.08rem solid rgba(255, 255, 255, 0);
            border-left: 0.08rem solid rgba(255, 255, 255, 0);
            border-right: 0.08rem solid rgba(255, 255, 255, 0);
            top: 100%;
            left: 50%;
            transform: translate(-170%, -15%);
            position: absolute;
            transition: all .3s;
        }
    }
}