/* 992px => 62em => Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {

    :root {
        --font-size-nav: .32rem;


        --wh-logo-icon: .7rem;
        --font-size-logo: .4rem;

        --translateX-logo-text: -.1rem;
        --translateY-logo-text: -.015rem;

        --wh-close: .5rem;

        --width-container: 6.8rem;

        --font-size-heading-1: .7rem;
        --font-size-textindex-1: 0.45rem;
        --width-pioneer_bottom-item-box: 100vw;
        --width-card: 4rem;
        --width-container: 89%;
    }

    html {
        font-size: 13.02083vw;
    }

    .M {
        display: flex;
    }

    .header_button {
        height: 100%;
        width: unset;
        gap: .2rem;

        .icon_nav_open {
            width: 0.4rem;
            fill: var(--color-white);
        }
    }

    .header_nav {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(8, 19, 54, 1);
        z-index: 2;

        display: flex;
        flex-direction: column;
        padding: .5rem .8rem 0;
        gap: .8rem;
        transition: all 375ms ease;
        transform: translateY(-100%);

        overflow-x: hidden;
        background-image: url(../assets/img/Ellipse_nav.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &::-webkit-scrollbar {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

        }

        &_mobile-1 {
            align-items: center;
            justify-content: space-between;

            &-close {
                width: var(--wh-close);
                height: var(--wh-close);
            }
        }

        &-list {
            flex-direction: column;
            align-items: flex-start;
            gap: 0;

            &-item {
                padding: .3rem 0;
                width: 100%;

                &:not(:last-child) {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                }
            }
        }

        &_mobile-2 {
            margin: .5rem 0;

            .btn-white {
                flex: 1;
                padding: 0.4rem 0.24rem;

                &-text {
                    font-size: .24rem;
                }
            }
        }
    }

    .header_nav.open {
        transform: translateY(0);
    }

    .hero_section {
        padding-top: unset;

    }

    .hero {
        flex-direction: column-reverse;
        padding-top: unset;
        transform: translateY(-0.5rem);

        &_left {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &-description {
                padding: 0.29rem 0 0.52rem;
            }
        }

        &_right {

            &-video {
                width: 100%;
                transform: unset;
            }
        }
    }

    .product {
        gap: 0.4rem;

        &_top {
            flex-direction: column;
            text-align: center;
            gap: .2rem;
        }

        &_bottom {
            gap: 0.5rem;
            overflow-x: scroll;
            padding: 0 1.4rem 0.5rem;
            padding-right: 1.4rem;
            padding-top: 0.8rem;

            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1rem;
                z-index: 1;
                top: -0.2rem;
            }

            &-card {

                &-buttons {
                    flex-wrap: wrap;
                    height: unset;


                    a {
                        &:first-child {
                            flex-basis: 100%;
                        }

                        &:last-child {
                            flex-basis: 100%;

                        }
                    }
                }
            }
        }
    }

    .ecosystem {

        &_bottom {
            gap: 0.5rem;

            &-icon {

                img {
                    width: 100%;
                }
            }
        }
    }

    .generation {

        &_top {
            text-align: center;
            width: 100%;
        }

        &_bottom {
            flex-wrap: unset;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            &-item {
                align-items: center;
                padding-right: unset;
                text-align: center;

                br {
                    display: none;
                }

                p {
                    padding: 0 .8rem;
                }
            }
        }
    }

    .community {

        &_bottom {
            padding: 0 0.5rem;
        }
    }

    .pioneer {

        &_bottom {

            a {
                width: 100%;
            }

            &-item:nth-child(3) {
                transform: translateX(-0.5rem);
            }

            &-item:nth-child(1) {
                transform: translateX(0.4rem);
            }
        }
    }

    .power {
        &_top {
            text-align: center;

            &-decs {
                width: 80%;
            }
        }

        &_bottom {
            &-item {
                flex-basis: 50%;
                padding: 0 0.37rem;
            }
        }
    }

    .secured {

        &_bottom {
            flex-direction: column;

            &-box {
                border-radius: 0.3rem;
            }

            &_right {
                p {
                    margin-bottom: .2rem;
                }
            }
        }
    }

    .footer {

        &_top {
            flex-wrap: wrap;

            &_content {
                flex-basis: 100%;
                margin-right: unset;
                margin-bottom: 0.5rem;
            }
        }

    }

    .decor {


        &_ellipses {
            &-1 {
                width: 70%;
            }

            &-2 {
                width: 70%;
            }

            &-3 {
                top: 10rem;
                width: 100%;
            }

            &-4 {
                top: 25rem;
                right: -1rem;
                width: 80%;
            }

            &-5 {
                top: 39.5rem;
                right: -2rem;
                width: 150%;
            }

            &-6 {
                top: 59rem;
                width: 50%;
            }

            &-7 {
                top: 59rem;
                width: 50%;
            }

            &-8 {
                top: 68rem;
                width: 70%;
            }

            &-9 {
                top: 86.5rem;
                left: -1rem;
                width: 35%;
                transform: scaleY(4);
            }

            &-10 {
                top: 85.5rem;
                right: -1rem;
                width: 40%;
                transform: scaleY(4);
            }
        }

        &_circle-1 {
            position: absolute;
            top: -0.9rem;
            left: 2rem;

            &-item {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &-1 {
                width: 5rem;
                height: 5rem;
                border: 0.02rem solid var(--color-circle);
                border-radius: 50%;
            }

            &-2 {
                width: 9.8rem;
                height: 9.8rem;
                border: 0.02rem solid var(--color-circle);
                border-radius: 50%;
            }

            &-3 {
                width: 13.5rem;
                height: 13.5rem;
                border: 0.02rem solid var(--color-circle);
                border-radius: 50%;
            }


        }

        &_circle-2 {
            top: 18.2rem;
        }

        &_circle-3 {
            top: 46rem;
        }

        &_circle-4 {
            top: 70rem;
        }

        &_circle-5 {
            top: 92.4rem;
        }
    }
}

/* 768px => 48em => Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
    :root {
        --font-size-decs-2: 0.16rem;
        --font-size-heading-3: .34rem;
        --font-size-decs-3: .14rem;
        --line-height-decs-3: 0.24rem;
        --font-size-heading-2: .46rem;
        --line-height-heading-2: 0.58rem;
        --font-size-decs-3: 0.15rem;

        --footer-topcontent-text: .13rem;
        --footer-toplist-heading: .17rem;
        --footer-toplist-item-a: .15rem;
        --footer-bottom-list: .13rem;

    }

    html {
        font-size: 13.02083vw;
    }

    .product {

        &_top {
            &-left-decs {
                font-size: 0.18rem;
            }
        }
    }

    .community_top p {
        font-size: .18rem;
    }
}

/* 576px => 36em => X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 576px) {

    :root {
        --padding-header: 0.17rem 0.32rem;
        --font-size-btn-white: .18rem;
        --padding-btn-white: 0.2rem 0.34rem;
        --font-size-btn-outline: .18rem;

        --font-size-decs-2: 0.18rem;
        --font-size-heading-3: 0.38rem;
        --line-height-heading-1: 1rem;
        --line-height-heading-2: 0.68rem;

        --footer-fontsize-input: .2rem;
        --footer-pading-top-bottom: .157rem;
        --font-size-nav: .25rem;
    }

    html {
        font-size: 19.66667vw;
    }

    .header_button {
        a {
            &.btn.btn-white {

                display: none;
            }
        }
    }

    .header_nav.open {
        padding: 0.2rem 0.5rem 0;
        gap: .2rem;
    }

    .header_nav {

        &_mobile-2 {

            .btn-white {
                padding: 0.3rem 0.24rem;
            }
        }
    }

    .hero {

        &_left {
            padding: 0 .5rem;

            &-button {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .product {
        gap: 0.4rem;

        &_top {
            gap: 0.3rem;
            text-align: start;

            &-left-decs {
                font-size: 0.18rem;
            }
        }

        &_bottom {
            padding: 0.8rem 0.3rem 0.5rem;

            &-card {
                &-text {
                    h3 {
                        padding: 0.08rem 0 0.2rem;

                    }
                }
            }
        }
    }

    .grow {

        &_index {
            flex-direction: column;
            gap: 0.5rem;

            &-item {
                gap: 0.1rem;
            }
        }
    }

    .power {
        gap: .3rem;

        &_top {
            text-align: left;
            align-items: flex-start;
            gap: .3rem;

            h2 {
                padding-right: .3rem;
            }

            p {
                text-align: left;
            }
        }

        &_bottom {
            &-item {
                flex-basis: 100%;
                text-align: unset;
                padding: 0;

                h3 {
                    font-size: .25rem;
                }

                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }

    .ecosystem {

        &_bottom {

            &-icon {
                flex-basis: 40%;

            }
        }
    }

    .secured {

        &_bottom {

            h2 {
                font-size: .35rem;
                line-height: .42rem;
            }

            &_right-img {
                margin: 0.5rem 0 0rem;
            }
        }
    }

    .generation {
        gap: .5rem;

        &_top {
            text-align: unset;
        }

        &_bottom {

            &-item {
                align-items: unset;
                text-align: unset;

                p {
                    padding: 0;
                }
            }
        }
    }

    .community {

        &_bottom {
            gap: 0.3rem;
            flex-direction: column;

            &-item {
                gap: 0.06rem;
            }
        }

        &_buttons {
            flex-direction: column;
            padding: 0 0.5rem;
        }
    }

    .pioneer {

        &_bottom {
            gap: 0.5rem;
            justify-content: center;

            &-item {

                &:nth-child(n) {
                    transform: unset;
                    flex-basis: 35%;
                    margin-bottom: unset;
                    flex-grow: unset;

                    .pioneer_bottom-item-box {
                        width: unset;
                    }
                }

                &:not(:last-child) {
                    margin-bottom: .3rem;
                }
            }
        }
    }

    .footer {

        &_top {
            gap: .5rem;

            &_content {

                &-form {
                    flex-direction: column;
                    gap: .1rem;

                    &-email {
                        width: 100%;
                    }
                }
            }

            &-list {
                flex-basis: 40%;


            }
        }

        &_bottom {
            &-list {
                flex-wrap: wrap;
                gap: 0.2rem;

                &-copy {
                    flex-basis: 100%;
                }
            }
        }

    }

    .decor {


        &_ellipses {

            &-4 {
                top: 35rem;
            }

            &-5 {
                top: 58.5rem;
            }

            &-6 {
                top: 81rem;
            }

            &-7 {
                top: 81rem;
            }

            &-8 {
                top: 104rem;
            }

            &-9 {
                top: 121.5rem;
                width: 60%;
            }

            &-10 {
                top: 121.5rem;
                width: 50%;
            }
        }

        &_circle-2 {
            top: 23.2rem;
        }

        &_circle-3 {
            top: 65rem;
        }

        &_circle-4 {
            top: 94rem;
        }

        &_circle-5 {
            top: 120.4rem;
        }
    }
}