.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(./sprite.svg);
}
.icon_logo1 {
  width: 136px;
  height: 32px;
  background-position: 0 0;
}
.icon_logo2 {
  width: 71px;
  height: 32px;
  background-position: -144px 0;
}
.icon_logo3 {
  width: 120px;
  height: 32px;
  background-position: -240px 0;
}
.icon_logo4 {
  width: 116px;
  height: 32px;
  background-position: -384px 0;
}
.icon_logo5 {
  width: 141px;
  height: 32px;
  background-position: -528px 0;
}

